.book-row-item-container {
  display: flex;
  flex-direction: row;
}

.book-row-item-img {
  width: 57.94px;
  height: 78.54px;
  border-radius: 6px;
  box-shadow: 4px 4px;
  margin-right: 12px;
}

.book-row-item-author {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #9797aa;
}
